@import 'base';

$cell_0: white;
$cell_1: #333333;
$cell_border: black;

%cell-display {
  .row {
    margin: 0px;
    clear: left;

    &::before, &::after {
      content: none;
      display: none;
    }
  }

  .cell {
    display: inline-block;
    border: 1px solid $cell_border;
    margin: 0px;
    width: 3px;
    height: 3px;
    float: left;

    &[data-value='0'] {
      background-color: $cell_0;
    }

    &[data-value='1'] {
      background-color: $cell_1;
    }

    &:not([data-value]) {
      border: none;
    }
  }
}

button {
  float: none;
}

#canvas {
  @extend .cell;
  @extend .panel;
  float: none;
  width: inherit;

  & > div {
    @extend .body;
  }

  .output, .rule-demo {
    @extend %cell-display;
  }

  .rule-demo .case {
    float: left;
    padding: 5px;
  }
}
